# Source
src/
tsconfig.json
*.ts
!*.d.ts

# Development
.github/
.vscode/
.editorconfig
.eslint*
.prettier*
jest.config.js
*.config.mjs
coverage/

# Tests
__tests__/
*.test.ts
*.spec.ts

# Examples
examples/

# Git
.git/
.gitignore

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*